---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav";
import Hero from '../components/Hero.astro';
import Skills from "../components/Skills.astro";
---

<Layout title="My Perfect Portfolio" SeoTitle="Olena Yastrebtsova, Front-End Developer Portfolio" SeoDesc="Front-End Developer who expertise in Astro, React, JavaScript">
	<div>
		<Hero/> 
		<Skills/>
	</div>
</Layout>

	
