---
import Layout from "../layouts/Layout.astro";
---
<Layout SeoTitle="Projects" SeoDesc="Projects made with in Astro, React, JavaScript"> 
     <div>
        <div>projects will be here soon

        </div>
     </div>
</Layout>