---
import Layout from "../layouts/Layout.astro"
import ProjectCard from "../components/ProjectCard.astro";
// const allProjects= await Astro.glob('../pages/data/*.md');
import data from "../../public/data.json";

---

<Layout
  title="My projects"
  SeoTitle="Projects"
  SeoDesc="Projects/apps made with Astro, React, React Native and JavaScript"
>
  <section class="flex max-w-4xl mx-auto pt-32 px-4">
    <div class="w-10/12 mx-auto">
      <h1>My Projects</h1>
      <div class="mx-auto grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
        {data.projects.map((project) => <ProjectCard img={project.src} title={project.title} url={project.url} />)}
      </div>
    </div>
  </section>
</Layout>



   

    <script>
      
        var textElement = document.getElementById("text");
        

        var textVariations = ["","",""];
        
        var currentIndex = 0;


        function changeText() {
            textElement.textContent = textVariations[currentIndex];
            currentIndex = (currentIndex + 1) % textVariations.length;
        }

        setInterval(changeText, 2000);
    </script>



