---
---
<footer class=" text-center py-20 sm:py-32 flex flex-col gap-4 sm:gap-8 justify-center items-center " >
<p class=" px-4 py-2 bg-main text-slate-950 font-medium">Connect with me</p>
<div class=" flex flex-col gap-4 items-center justify-center">
    <p>
        <a class="pr-2 hover:font-semibold transition-all" href="mailto:uaalena202@gmail.com">uaalena202@gmail.com</a>  
    </p>
<p>
    <a class="pr-2 hover:font-semibold transition-all" href="https://github.com/yastrb" target="_blank">GitHub</a>
</p>
<p>
    <a class=" pr-2 hover:font-semibold transition-all" href="https://www.linkedin.com/in/yastrebtsova/" target="_blank">LinkedIn</a>
</p>
</div>
</footer>


