---
const {title, url, img} = Astro.props
import {Image } from "astro:assets"
---
<article class= "mx-auto w-[20rem] h-[20rem] overflow-hidden relative group"
>

<a 
href={url}
target="_blank" 
>
    <!-- <h3 class="font-black">{title}</h3> -->
    <img 
    class=" w-full h-full scale-100 hover:scale-110 transition duration-[1.5s]" 
    src={img} 
    alt="">
    

    </a>
    <div
    class="absolute w-full bottom-0 left-0 backdrop-blur-md dark:text-white text-white bg-black/50 p-4 translate-y-[100%] group-hover:translate-y-0 transition duration-700"
  >
    <h3 class="mr-2 text-xl">{title}</h3>
  </div>
</article>