---
const {title, url, img} = Astro.props
import {Image } from "astro:assets"
---
<article class= "mx-auto w-[20rem] h-[20rem] overflow-hidden relative group"
>

<a 
href={url}
target="_blank" 
>
    <!-- <h3 class="font-black">{title}</h3> -->
    <img 
    class=" w-full h-full scale-100 hover:scale-110 transition duration-[1.5s]" 
    src={img} 
    alt="">
    

    </a>
</article>