---
const {title, url, img} = Astro.props
import {Image } from "astro:assets"
---
<div class=" flex flex-col justify-between text-center px-3 py-5  w-full h-full rounded-xl border-solid border-2 border-[#c1c7dd39] shadow-xl hover:shadow-2xl transition-all"
>
<a href={url} >
    <h3 class="font-black">{title}</h3>
    <img class="" src={img} alt="">
    

    </a>
</div>