---
// import Skill from "./Skill.astro";
import Skilll from "./Skilll.jsx"
---

<section
  class="relative flex flex-col items-center my-8 pt-8 bg-main bg-opacity-20"
>
  <h2 class="font-bold text-2xl my-4">Skills & Tools</h2>
  <p class="m-auto text-xl max-w-[30rem]">
    I am constantly working on my development skills. I like to learn something
    new everyday. Here is a quick breakdown of the things I know.
  </p>
  <div class="w-full">
    <div class="px-6 my-6 mx-auto">
      <div class="mx-auto flex flex-row flex-wrap px-9 max-w-3xl">
   
  <Skilll client:load/>
      </div>
    </div>
  </div>
</section>
