---
import Skill from "./Skill.astro";
import { motion } from "framer-motion";
---

<section class="relative flex flex-col items-center my-8">
  <h2 class="font-bold text-2xl my-4">Skills & Tools</h2>
  <p class="m-auto text-xl max-w-[30rem]">
    I am constantly working on my development skills. I like to learn something
    new everyday. Here is a quick breakdown of the things I know.
  </p>
  <div class="w-full">
    <div class="px-6 my-6 mx-auto">
      <div class="mx-auto flex  flex-wrap  justify-center gap-5 px-9 max-w-3xl">

        <Skill/>
        <!-- <motion.div
          client:visible
          initial={{ scale: 0 }}
          animate={{ scale: 1 }}
          transition={{
            type: "spring",
            stiffness: 260,
            damping: 20,
          }}
        >
          <Skill client:load title="HTML, CSS" path="/projects" />
        </motion.div>

        <motion.div
          client:visible
          initial={{ scale: 0 }}
          animate={{ scale: 1 }}
          transition={{
            type: "spring",
            stiffness: 260,
            damping: 20,
          }}
        >
          <Skill title="JavaScript" path="/projects" />
        </motion.div>
        <motion.div
          client:visible
          initial={{ scale: 0 }}
          animate={{ scale: 1 }}
          transition={{
            type: "spring",
            stiffness: 260,
            damping: 20,
          }}
        >
          <Skill title="React" path="/projects" />
        </motion.div>
        <motion.div
          client:visible
          initial={{ scale: 0 }}
          animate={{ scale: 1 }}
          transition={{
            type: "spring",
            stiffness: 260,
            damping: 20,
          }}
        >
          <Skill title="Astro" path="/projects" />
        </motion.div> -->
      
      </div>
    </div>
  </div>
</section>

